QMainWindow {
                background-image: url('Images/background.png');
                background-repeat: no-repeat;
                background-position: center;
                background-attachment: fixed;
            }

QLabel:hover {
        border: 2px solid cyan;  /* Blue border on hover */
}

QFrame {
    background: transparent;
    border: transparent;
}
CustomHexagonalGrid {
    background: transparent;
}

QPushButton {
    background: black;
}